[submodule "part10/rate-repository-app"]
	path = part10/rate-repository-app
	url = https://github.com/a21dariodr/rate-repository-app
[submodule "part11/full-stack-open-pokedex"]
	path = part11/full-stack-open-pokedex
	url = https://github.com/a21dariodr/full-stack-open-pokedex
[submodule "phonebook_cicd"]
	path = part11/fullstackopen-CICD-phonebook
	url = https://github.com/a21dariodr/fullstackopen-CICD-phonebook.git
[submodule "part12/part12-containers-applications"]
	path = part12/part12-containers-applications
	url = https://github.com/a21dariodr/part12-containers-applications.git
[submodule "part13/fullstackopen-part13-relational-dbs"]
	path = part13/fullstackopen-part13-relational-dbs
	url = https://github.com/a21dariodr/fullstackopen-part13-relational-dbs
